@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
    src:
        url('../fonts/Montserrat/Montserrat-Regular.woff'),
        url('../fonts/Montserrat/Montserrat-Regular.woff2'),
        url('../fonts/Montserrat/Montserrat-Regular.eot');
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
    src:
        url('../fonts/Montserrat/Montserrat-Medium.woff'),
        url('../fonts/Montserrat/Montserrat-Medium.woff2'),
        url('../fonts/Montserrat/Montserrat-Medium.eot');
    font-weight: 500; 
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
    src:
        url('../fonts/Montserrat/Montserrat-Bold.woff'),
        url('../fonts/Montserrat/Montserrat-Bold.woff2'),
        url('../fonts/Montserrat/Montserrat-Bold.eot');
    font-weight: 700;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Black.ttf');
    src:
        url('../fonts/Montserrat/Montserrat-Black.woff'),
        url('../fonts/Montserrat/Montserrat-Black.woff2'),
        url('../fonts/Montserrat/Montserrat-Black.eot');
    font-weight: 900;
}
@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-Bold.ttf');
    src: 
        url('../fonts/Oswald/Oswald-Bold.woff'),
        url('../fonts/Oswald/Oswald-Bold.woff2'),
        url('../fonts/Oswald/Oswald-Bold.eot');
    font-weight: 700;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
.center { 
    padding-left: calc(50vw - 585px);
    padding-right: calc(50vw - 585px);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button {
    height: 40px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2D5E5E;
    border-radius: 10px;
    color: #fff;
    border: 3px solid transparent;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}
.button.button--bordered {
    background: transparent;
    border: 3px solid #2D5E5E;
}
.button:hover {
    background: transparent;
    border-color: #2D5E5E;
    color: #2D5E5E;
}
.button.button--bordered:hover {
    background: #2D5E5E;
    border-color:currentColor;
    color: #fff;
}

/* slider */
.slider {
    display: flex;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
}
.slider__arrow {
    border:none;
    background: none;
}
.slider__arrow svg {
    fill: #ADDDDE
}
.slider__elem {
    display: none;
    margin: 0 43px;
}
.slider__elem.slider__elem--active{
    display: block;
}
/* slider */

/* dropdown */
.dropdown {
    margin: auto 20px;
    max-width: 944px;  
    padding-left: 36px;
}
.dropdown__title {
    font: 700 24px/1.33 'Oswald', sans-serif;
    position: relative;
    transition: 0.3s;
}
.dropdown__title svg {
    fill: currentColor;
    position: absolute;
    left: -36px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}
.dropdown__title::marker {
    font-size: 0;
    color: transparent;
}
.dropdown[open] .dropdown__title {
    color: #2D5E5E;
}
.dropdown[open] .dropdown__title svg {
    transform: translateY(-50%) rotate(45deg);
}
.dropdown__text {
    margin: 20px 0;
    line-height: 1.5;
}
/* dropdown */

.header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items:center; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.logo {
    display: block;
    float: left;
}
.nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.nav li { 
    list-style: none;
}
.nav__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color:#85aaab;
    text-decoration: none;
}
.nav__link.nav__link--active { 
   color: #6de1e3;
}

/* offer */
.offer {
    background-color: #000;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
    line-height: 1.5;
    padding-top: 240px;
    padding-bottom: 161px;
}
.offer__title {
    margin: 0 0 55px;
    font-size: 48px;
    max-width: 454px;
}
.offer__description {
    font-size: 24px;
    margin: 0 0 55px;
    max-width: 300px;
    font-weight: 400;
} 
/* offer */

/* services */
.services { 
     padding-top: 60px;
     padding-bottom: 37px;
     display: flex;
     justify-content: space-between;
}
.services__item { 
    max-width: 300px;
    text-align: center;
}
.services__icon { 
    margin-bottom: 30px;
}
.services__title {
   font-size: 24px;
   margin: 0 0 20px; 
   color: #2D5E5E
}
/* services */

/* about */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('../img/Rectangle.jpg') center no-repeat rgba(0,0,0,.7);
    background-blend-mode: overlay;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.about__content {
    max-width: 625px;
}
.about__title {
    font-size: 36px;
    margin: 0 0 50px;
}
.about__text { 
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 35px;
}
.about__button { 
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
/* about */

/* appoint */
.appoint {
    padding-top: 60px;
    padding-bottom: 60px;
}
.appoint__title {
    text-align: center;
    margin: 0 0 50px;
    font-size: 48px;
    line-height: 72px;
}
.form {
    max-width: 770px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 40px) 30px 40px;
    gap: 30px;
}
.form__input {
    border: 1px solid #000000;
    border-radius: 10px;
    background: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 20px;
}
.form__input::placeholder {
    color: #000;
}
.form__input.form__input--textarea {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    resize: none;
}
.form__checkbox {
    grid-column: 1 / 3;
    text-align: center;
}
.form__checkbox_label {
    position: relative;
    display: inline-block;
    padding-left: 25px;
}
.form__checkbox_label:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 1px solid #2D5E5E;
}
.form__checkbox_label:after {
    content: '';
    display: block;
    position: absolute;
    left: 1.8px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    box-sizing: border-box;
    background: #2D5E5E;
    opacity: 0;
    transition: 0.5s;
} 
.form__checkbox input:focus + .form__checkbox_label {
    outline: 1px solid #000;
}
.form__checkbox input:checked + .form__checkbox_label:after {
    opacity: 1;
}
.form .button {
    grid-column: 1 / -1;
    margin: 0 auto;
}
/* appoint */

/* counter */
.counters {
   background: url(../img/counter.png) center no-repeat rgba(0, 0, 0, .7) ;
    background-blend-mode: overlay;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 90px;
}
.counters__number {
    padding-bottom: 14px;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
}
.counters__item {
    padding-top: 60px;
    max-width: 300px;
    margin: auto;
}
.counters__title {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 20px;
}
.counters__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 60px;
}
/* counter */

/* comment */
.comment {
    padding-top: 60px;
    padding-bottom: 60px;
}
.comment__title {
    text-align: center;
    font-size: 48px;
    margin: 0 0 50px;
}
.comment__item {
    padding: 20px 25px;
    background: #ADDDDE;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px 32px;
}
.comment__photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.comment__photo img {
    max-width: unset;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.comment__name {
    color: #2D5E5E;
    font-size: 18px;
}
.comment__text {
    margin: 0;
    font-weight: 300;
}
/* сomment */

/* articles */
.articles {
    background: url('../img/articles.png') center no-repeat rgba(0,0,0,.7);
    background-blend-mode: overlay;
    background-size: cover;
    padding-bottom: 60px;
}
.articles__title {
    max-width: 371px;
    padding-top: 60px;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
    padding-bottom: 50px;
}
.articles__content {
    max-width: 334px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 84px;
}
.news__desc {
    text-align: left;
    font-family: 'Oswald';
    font-weight: 700;
    padding-top: 24px;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}
/* articles */

/* questions */
.questions {
    padding-top: 60px;
    padding-bottom: 60px;
}
.questions__title {
    margin: 0 0 70px;
    text-align: center;
    font-size: 48px;
    line-height: 72px;
}
/* questions */

/* contacts */
.contacts {
    padding-top: 128px;
    padding-bottom: 128px;
    position: relative;
}
.contacts__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.contacts__map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    position: relative;
}
.contacts__items {
    position: relative;
    z-index: 2;
    background: #ADDDDE;
    padding: 35px;
    max-width: 477px;
    margin-left: auto;
}
.items__title {
    color: #2D5E5E;
    font-size: 48px;
    line-height: 1.5;
    margin: 0 0 20px;
}
.items__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.list__elements {
    text-decoration: none;
    color: #000;
    line-height: 24px;
}
/* contacts */

/* discount */
.discount {
    padding-bottom: 60px;
}
.discount__title {
    font-size: 48px;
    line-height: 72px;
    padding-bottom: 60px;   
    text-align: center;   
}
.discount__form {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.discount__checkbox {
    grid-column: 1 / 4;
    text-align: center;
}
.discount__checkbox_label {
    position: relative;
    display: inline-block;
    padding-left: 25px;
}
.discount__checkbox_label:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 1px solid #2D5E5E;
}
.discount__checkbox_label:after {
    content: '';
    display: block;
    position: absolute;
    left: 1.8px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    box-sizing: border-box;
    background: #2D5E5E;
    opacity: 0;
    transition: 0.5s;
}
.discount__checkbox input:focus+.discount__checkbox_label {
    outline: 1px solid #000;
}
.discount__checkbox input:checked+.discount__checkbox_label:after {
    opacity: 1;
}
/* discount */

/* footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background: #2D5E5E; 
}
.footer__logo {
    margin-left: 0;
    display: block;
    float: left;
    padding-right: 50px;
}
.footer__content {
    display: flex;
    gap: 30px;
    line-height: 24px;
}
.desc__main {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
        
}
.content__desc {
    display: flex;
    gap: 10px;
    align-items: center;
}
/* footer */

/* custom select */
.custom_select__definition {
    position: relative;
}
.custom_select__chose br {
    display: none;
}
.custom_select__chose {
    position: relative;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}
.custom_select__chose:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #2D5E5E transparent transparent transparent;
    position: absolute;
    right: 0;
    top: 50%;
    
}
.custom_select__list {
    position: relative;
    top: calc(50% + 5px);
    z-index: 5;
    margin-left: -20px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 20px;
    width: 113%;
    height: 120px;
    opacity: 0;
    transition: 0.5s;
}
.custom_select__list--open {
    opacity: 1;
    pointer-events: unset;
}
.custom_select__option {
    display: block;
    text-align: left;
    background: none;
    border: none;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
    padding-bottom: 3px;
}
/* custom select */